[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = ????Acfun???????????????????????????????????????????????tile????
[access "refs/*"]
	owner = group user/威廉伯爵 (megatontech)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/威廉伯爵 (megatontech)
	label-Verified = -1..+1 group user/威廉伯爵 (megatontech)
	push = group user/威廉伯爵 (megatontech)
	read = group user/威廉伯爵 (megatontech)
	rebase = group user/威廉伯爵 (megatontech)
	removeReviewer = group user/威廉伯爵 (megatontech)
	submit = group user/威廉伯爵 (megatontech)
[access "refs/heads/*"]
	create = group user/威廉伯爵 (megatontech)
	push = +force group user/威廉伯爵 (megatontech)
	pushMerge = group user/威廉伯爵 (megatontech)
	read = group user/威廉伯爵 (megatontech)
[access "refs/tags/*"]
	push = group user/威廉伯爵 (megatontech)
	push = +force group user/威廉伯爵 (megatontech)
